.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 0;
    right: 0;

    width: 252px;
    height: 100vh;
    margin-left: auto;

    gap: 6px;
    padding: 20px 0;

    background-color: var(--background-secondary);
}

.title {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 34px;
    color: var(--color-text-primary);
}

.indicator {
    position: relative;
}

.details {
    text-align: center;
    font-size: 8px;
    color: var(--color-text-secondary);
    margin-top: -20px;
}

.profileContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: var(--color-text-primary);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileIcons {
    display: flex;
    gap: 13px;
    align-items: center;
}

.separator {
    width: 100%;
    border: none;
    border-top: 1px solid #E0E7F1;
    margin: 10px 0;
}